.jumbotron {
    background-color: royalblue;
    color: white;
}

.section {
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}

h4 {
    font-weight: bold;
    margin-top: 10px;
}

button {
    margin-bottom: 10px;
}